appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
coreapi==2.3.1
coreschema==0.0.4
Django==1.11.2
django-crispy-forms==1.6.1
django-filter==1.0.4
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
itypes==1.1.0
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
requests==2.17.3
selenium==3.4.3
simplejson==3.10.0
six==1.10.0
uritemplate==3.0.0
urllib3==1.21.1
