{% block footer %}
<footer id="colophon" role="contentinfo">
    <div id="copyright" class="container">
        <div id="site-generator">
            <p>THE RIGHT RHYMES ⋅ HIP-HOP SLANG DEFINED ⋅ COPYRIGHT © 2016</p>
            <p><a href="#top">You have reached the bottom. Click here to get back on top.</a></p>
        </div>
    </div>
    <div id="last-fm-attrib" class="container">
        <div>Artist Images from
            <div id="last-fm-svg">
                <a href="http://last.fm">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Lastfm_logo.svg"
                     height="23px"
                     width="75px"
                     style="display: block; margin-left: auto; margin-right: auto;"/>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}