{% block navigation %}
<nav id="navbar-custom" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="material-icons">more_vert</i>
            </button>
            <span class="navbar-brand"><a href="/">The Right Rhymes</a></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/">
                        <img src="/static/website/icon/bomb.png" class="bomb"></img><span class="collapse-only"> Random</span>
                    </a>
                </li>
                <li>
                    <a id="overlay-menu" class="nav-search-icon trr-icon"><span class="glyphicon glyphicon-search"></span><span class="collapse-only"> Search</span></a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/" class="trr-icon"><i class="fa fa-bar-chart-o"></i><span class="collapse-only"> Statistics</span></a>
                </li>
                <li>
                    <a href="/" class="trr-icon"><i class="fa fa-info"></i><span class="collapse-only"> About</span></a>
                </li>
                <!--<li>-->
                    <!--<a href="#" class="trr-icon">-->
                        <!--<span class="fa-stack" style="font-size: .6em">-->
                            <!--<i class="fa fa-cloud fa-stack-2x"></i>-->
                            <!--<i class="fa fa-cog fa-stack-1x" style="color: black"></i>-->
                        <!--</span>-->
                        <!--<span class="collapse-only"> API</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}