{% extends "website/base.html" %}
{% block title %}{{ artist }} ⋅ {% endblock %}
{% block meta %}
    <meta name="description" content="{{ artist }} in The Right Rhymes">
    <meta name="author" content="@theRightRhymes">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ artist }} in The Right Rhymes" />
    <meta property="og:description" content="{{ artist }} songs, lyrics, & other metadata cited in the dictionary" />
    <meta property="og:url" content="http://www.therightrhymes.com/{{slug}}" />
    <meta property="og:site_name" content="The Right Rhymes" />
    <meta property="og:image" content="http://www.therightrhymes.com{{thumb}}" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ artist }} songs, lyrics, & other metadata cited in the dictionary"/>
    <meta name="twitter:title" content="{{ artist }} in The Right Rhymes"/>
    <meta name="twitter:site" content="@theRightRhymes"/>
    <meta name="twitter:domain" content="The Right Rhymes"/>
    <meta name="twitter:image" content="http://www.therightrhymes.com{{thumb}}" />
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <div class="entry-content">
                <figure class="center-block">
                    <img src="{{ image }}"
                         alt="{{ artist }}"
                         property="image"
                         scale="0"/>
                </figure>
                <div class="headword-image">
                    {{ artist }}
                    {% if also_known_as %}
                        <div class="aka">
                            <span class="" style="text-transform: lowercase">a.k.a.</span>
                            {% for aka in also_known_as %}
                                <a href="{% url 'artist' aka.slug %}">{{ aka.artist }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if artist_annotations %}
                    {% if artist_annotation_count > 1 %}
                    <h3 class="trr-list-header">{{ artist_annotation_count }} citations, including:</h3>
                    {% elif artist_annotations|length == 1 %}
                    <h3 class="trr-list-header">{{ artist_annotation_count }} citation</h3>
                    {% endif %}

                    {% for annotation in artist_annotations %}
                        <div>
                            <span class="date">{{ annotation.song.release_date_string }}</span>

                            {% for artist in annotation.primary_artists %}
                            <span class="artist"><a href="{% url 'artist' artist.slug %}">{{artist.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                            <span class="songTitle">"<a href="/">{{annotation.song_title}}</a>"</span>
                            {% if annotation.featured_artists %}
                            <span> feat. </span>
                            {% for artist in annotation.featured_artists %}
                            <span class="artist"><a href="{% url 'artist' artist.slug %}">{{artist.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}

                            {% endif %}
                            <span class="album">[{{annotation.album }}]</span>

                            <div class="lyric">
                                {{ annotation.annotation.context|safe }}
                                <a class="tweet" href="http://www.therightrhymes.com/artists/" title="{{ annotation.annotation.context }}" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if primary_senses %}

                    {% if primary_sense_count > 1 %}
                    <h3 class="trr-list-header">cited at {{ primary_sense_count }} senses as a <strong>primary artist</strong>, including:</h3>
                    {% elif primary_senses|length == 1 %}
                    <h3 class="trr-list-header">cited at {{ primary_sense_count }} sense as a <strong>primary artist</strong></h3>
                    {% endif %}

                    <div class="trr-list">
                        {% for sense in primary_senses %}
                            <div class="trr-list-group-item">
                                <div>
                                    <strong>
                                        <a href="{% url 'entry' sense.slug %}#{{sense.xml_id}}">{{ sense.headword }}</a>
                                    </strong>
                                </div>

                                    {% for example in sense.examples %}
                                    <div>
                                        <span class="date">{{ example.release_date_string }}</span>
                                        <span class="artist">{{example.artist_name}}</span>
                                        <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                        {% if example.featured_artists %}
                                        <span> feat. </span>
                                        {% for feat in example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        {% endif %}
                                        <span class="album">[{{example.album }}]</span>

                                        <div class="lyric">
                                            {{ example.linked_lyric|safe }}
                                            <a class="tweet" href="http://www.therightrhymes.com/artists/{{slug}}" title="{{ example.lyric }}" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    {% endfor %}

                            </div>
                        {% endfor %}
                       {% if primary_sense_count > 5 %}
                            <div class="toggle_exx">
                                <a href="#" class="toggle_more_exx">Show {{ primary_sense_count|add:"-5" }} more</a>
                                <span class="artist_slug hidden">{{slug}}</span>
                                <div class="loading">
                                    <img src="/static/dictionary/img/loading/breakdance.gif" width="5%" height="5%"></img>
                                </div>
                            </div>
                            <ul class="examples trr-list">

                            </ul>
                        {% endif %}
                    </div>

                {% endif %}

                {% if featured_senses %}
                    {% if featured_sense_count > 1 %}
                    <h3 class="trr-list-header">cited at {{ featured_sense_count }} senses as a <strong>featured artist</strong>, including:</h3>
                    {% elif featured_sense_count == 1 %}
                    <h3 class="trr-list-header">cited at {{ featured_sense_count }} sense as a <strong>featured artist</strong></h3>
                    {% endif %}

                    <div class="trr-list">
                        {% for sense in featured_senses %}
                            <div class="trr-list-group-item">
                                <div>
                                    <strong>
                                        <a href="{% url 'entry' sense.slug %}#{{sense.xml_id}}">{{ sense.headword }}</a>
                                    </strong>
                                </div>

                                    {% for example in sense.examples %}
                                    <div>
                                        <span class="date">{{ example.release_date_string }}</span>
                                        <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                                        <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                        {% if example.featured_artists %}
                                        <span> feat. </span>
                                        {% for feat in example.featured_artists %}
                                            {% if feat.name == artist %}
                                            <span class="artist">{{feat.name}}{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                            <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        <span class="album">[{{example.album }}]</span>

                                        <div class="lyric">
                                            {{ example.linked_lyric|safe }}
                                            <a class="tweet" href="http://www.therightrhymes.com/artists/{{slug}}" title="{{ example.lyric }}" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    {% endfor %}

                            </div>
                        {% endfor %}
                        {% csrf_token %}
                       {% if featured_sense_count > 5 %}
                            <div class="toggle_exx">
                                <a href="#" class="toggle_more_exx">Show {{ featured_sense_count|add:"-5" }} more</a>
                                <span class="artist_slug hidden">{{slug}}</span>
                                <span class="feat hidden">True</span>
                                <div class="loading">
                                    <img src="/static/dictionary/img/loading/breakdance.gif" width="5%" height="5%"></img>
                                </div>
                            </div>
                            <ul class="examples trr-list">

                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
                {% if entity_examples %}
                    {% if entity_example_count > 1 %}
                    <h3 class="trr-list-header">{{ entity_example_count }} <strong>shout-outs</strong> in these lyrics</h3>
                    {% elif entity_example_count == 1 %}
                    <h3 class="trr-list-header">{{ entity_example_count }} <strong>shout-out</strong> in this lyric</h3>
                    {% endif %}
                    <div class="trr-list">
                    {% for example in entity_examples %}
                        <div class="trr-list-group-item">
                            <div>
                                <span class="date">{{ example.release_date_string }}</span>
                                <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{ example.artist_name }}</a></span>
                                <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{ example.song_title }}</a>"</span>
                                 {% if example.featured_artists %}
                                    <span> feat. </span>
                                    {% for feat in example.featured_artists %}
                                        <span class="artist"><a href="{% url 'artist' feat.slug %}">{{ feat.name }}</a>{% if not forloop.last %}, {% endif %}</span>
                                    {% endfor %}
                                {% endif %}
                                <span class="album">[{{ example.album }}]</span>
                                <div class="lyric">
                                    {{ example.linked_lyric|safe }}
                                    <a class="tweet" href="http://www.therightrhymes.com/artists/{{slug}}" title="{{ example.lyric }}" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                <h3 class="trr-list-header"><strong><span id="numCollabs"></span></strong> pictured from <span class="logo">The Right Rhymes</span> database</h3>
                <span class="artist_slug hidden">{{ slug }}</span>
                <div id="vis" style="margin-bottom: 0;"></div>
                {% if longitude and latitude %}
                    <div class="map-canvas">
                        <p class="hidden artist-slug">{{ slug }}</p>
                        <p class="mapLabel">origin: <a href="{% url 'place' origin_slug %}">{{ origin }}</a></p>
                        <div id="map1" class="map"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="artist_slug" style="display:none">{{slug}}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="/static/dictionary/js/artist_network.js"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "http://www.therightrhymes.com/artists",
      "name": "Artists"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "http://www.therightrhymes.com/artists/{{slug}}",
      "name": "{{ artist }}",
      "image": "http://www.therightrhymes.com{{thumb}}"
    }
  }]
}
</script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "author": "The Right Rhymes",
    "description": "{{ artist }} lyrics cited as examples in The Right Rhymes Hip-Hop Dictionary",
    "datePublished": "2016-04-10",
    "dateModified": "2016-04-10",
    "headline": "{{ artist }} in The Right Rhymes",
    "image" : {
       "@type": "ImageObject",
        "url": "http://www.therightrhymes.com{{thumb}}",
        "caption": "{{ artist }}",
        "height": 200,
        "width": 200
    },
    "publisher": {
        "@type": "Organization",
        "url": "http://www.therightrhymes.com",
        "name": "The Right Rhymes",
        "logo": {
            "@type": "ImageObject",
            "url": "http://www.therightrhymes.com/static/dictionary/img/header/trr-logo.png",
            "caption": "The Right Rhymes",
            "height": 60,
            "width": 600
        }
    },
    "about": {
        "@type": "Person",
        "name": "{{ name }}",
        "url": "http://www.therightrhymes.com/{{slug}}",
        "image" : {
           "@type": "ImageObject",
            "url": "http://www.therightrhymes.com{{thumb}}",
            "caption": "{{ artist }}",
            "height": 200,
            "width": 200
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://www.therightrhymes.com/{{slug}}"
    }
}
</script>
{% endblock %}