{% extends "website/base.html" %}
{% block title %}{{ headword }} ⋅ {% endblock %}
{% block meta %}
    <meta name="description" content="'{{ title }}' in The Right Rhymes Hip-Hop Dictionary">
    <meta name="author" content="@theRightRhymes">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="'{{ title }}' in The Right Rhymes Hip-Hop Dictionary" />
    <meta property="og:description" content="'{{ title }}' definition & usage examples from rap lyrics" />
    <meta property="og:url" content="http://www.therightrhymes.com/{{slug}}" />
    <meta property="og:site_name" content="The Right Rhymes" />
    <meta property="og:image" content="http://www.therightrhymes.com/static/dictionary/img/header/trr-lg.png" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="'{{ title }}' definition & usage examples from rap lyrics"/>
    <meta name="twitter:title" content="{{ title }} in The Right Rhymes Hip-Hop Dictionary"/>
    <meta name="twitter:site" content="@theRightRhymes"/>
    <meta name="twitter:domain" content="The Right Rhymes"/>
    <meta name="twitter:image" content="http://www.therightrhymes.com/static/dictionary/img/header/trr-sm.png" />

{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="content-container">
        <div id="content" class="group">
            <article id="{{ headword }}" class="group">
                {% if headword %}
                    <div class="entry-content">
                        {% for sense in senses %}
                            {% if sense.image %}
                                <figure class="center-block">
                                    <img src="{{ sense.image }}"
                                      alt="{{ sense.artist_name }}"
                                      property="image"
                                      scale="0"/>
                                </figure>
                                <h1 class="headword-image">{{ headword }}</h1>
                            {% else %}
                                <h1 class="headword">{{ headword }}</h1>
                            {% endif %}
                            <div class="pos">{{ sense.part_of_speech }}</div>
                            <div class="name-date">
                                <span>Published on <time>{{ sense.pub_date }}</time></span>
                            </div>
                            <div id="{{ sense.xml_id }}" class="anchor"></div>
                            <div class="definition">{{ sense.definition }}</div>
                            {% if sense.notes %}
                                <div class="note">({{ sense.notes }})</div>
                            {% endif %}
                            <div class="buttons">
                                {% if sense.antonyms %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="4">Antonyms</span>
                                        <span class="the-list">
                                        {% for antonym in sense.antonyms %}
                                            {% if antonym.target_slug in published_entries %}
                                                <span class="antonym"><a href="{% url 'entry' antonym.target_slug %}#{{antonym.target_id}}">{{ antonym.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="antonym">{{ antonym.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.semantic_classes %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="2">Categories</span>
                                        <span class="the-list">
                                        {% for semantic_class in sense.semantic_classes %}
                                            <span class="semantic_class"><a href="{% url 'semantic_class' semantic_class.slug %}">{{ semantic_class.name }}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.collocates %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="10">Collocates</span>
                                        <span class="the-list">
                                        {% for collocate in sense.collocates %}
                                            {% if collocate.target_slug in published_entries %}
                                                <span class="collocate"><a href="{% url 'entry' collocate.target_slug %}#{{collocate.target_id}}">{{ collocate.collocate_lemma }}</a>{% if collocate.frequency > 1 %}<sup>{{ collocate.frequency }}</sup>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="collocate">{{ collocate.collocate_lemma }}{% if collocate.frequency > 1 %}<sup>{{ collocate.frequency }}</sup>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.derivatives %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="1">Derivatives</span>
                                        <span class="the-list">
                                        {% for derivative in sense.derivatives %}
                                            {% if derivative.target_slug in published_entries %}
                                                <span class="derivative"><a href="{% url 'entry' derivative.target_slug %}#{{derivative.target_id}}">{{ derivative.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="derivative">{{ derivative.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.domains %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="2">Domains</span>
                                        <span class="the-list">
                                        {% for domain in sense.domains %}
                                            <span class="domain"><a href="{% url 'domain' domain.slug %}">{{ domain.name }}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.regions %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="2">Region</span>
                                        <span class="the-list">
                                        {% for region in sense.regions %}
                                            <span class="domain"><a href="{% url 'region' region.slug %}">{{ region.name }}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.etymology %}
                                    <div class="etym xref toggle">
                                        <span class="xrlabel" tabindex="11">Etymology</span>
                                        <span class="the-list">
                                        {{ sense.etymology }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.ancestors %}
                                    <div class="etym xref toggle">
                                        <span class="xrlabel" tabindex="10">Etymology</span>
                                        <span class="the-list"> Derives from
                                        {% for ancestor in sense.ancestors %}
                                            {% if ancestor.target_slug in published_entries %}
                                                <span class="ancestor"><a href="{% url 'entry' ancestor.target_slug %}#{{ancestor.target_id}}">{{ ancestor.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="ancestor">{{ ancestor.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.holonyms %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="6">Holonyms</span>
                                        <span class="the-list">
                                        {% for holonym in sense.holonyms %}
                                            {% if holonym.target_slug in published_entries %}
                                               <span class="holonym"> <a href="{% url 'entry' holonym.target_slug %}#{{holonym.target_id}}">{{ holonym.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="holonym">{{ holonym.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.meronyms %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="5">Meronyms</span>
                                        <span class="the-list">
                                        {% for meronym in sense.meronyms %}
                                            {% if meronym.target_slug in published_entries %}
                                                <span class="meronym"><a href="{% url 'entry' meronym.target_slug %}#{{meronym.target_id}}">{{ meronym.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="meronym">{{ meronym.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.synonyms %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="3">Synonyms</span>
                                        <span class="the-list">
                                        {% for synonym in sense.synonyms %}
                                            {% if synonym.target_slug in published_entries %}
                                                 <span class="synonym"><a href="{% url 'entry' synonym.target_slug %}#{{synonym.target_id}}">{{ synonym.xref_word }}</a>{% if not forloop.last %}<span class="comma">, </span>{% endif %}</span>
                                            {% else %}
                                                 <span class="synonym">{{ synonym.xref_word }}{% if not forloop.last %}<span class="comma">, </span>{% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.related_concepts %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="7">Related concepts</span>
                                        <span class="the-list">
                                        {% for related_concept in sense.related_concepts %}
                                            {% if related_concept.target_slug in published_entries %}
                                                <span class="related_concept"><a href="{% url 'entry' related_concept.target_slug %}#{{related_concept.target_id}}">{{ related_concept.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="related_concept">{{ related_concept.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.related_words %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="8">Related words</span>
                                        <span class="the-list">
                                        {% for related_word in sense.related_words %}
                                            {% if related_word.target_slug in published_entries %}
                                                <span class="related_word"><a href="{% url 'entry' related_word.target_slug %}#{{related_word.target_id}}">{{ related_word.xref_word }}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                                <span class="related_word">{{ related_word.xref_word }}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if sense.rhymes %}
                                    <div class="xref toggle">
                                        <span class="xrlabel" tabindex="9">Rhymes</span>
                                        <span class="the-list">
                                        {% for rhyme in sense.rhymes %}
                                            {% if rhyme.rhyme_slug in published_entries %}
                                            <span class="rhyme"><a href="{% url 'entry' rhyme.rhyme_slug %}">{{ rhyme.rhyme }}</a>{% if rhyme.frequency > 1 %}<sup>{{ rhyme.frequency }}</sup>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                                            {% else %}
                                            <span class="rhyme"><a href="{% url 'rhyme' rhyme.rhyme_slug %}">{{ rhyme.rhyme }}</a>{% if rhyme.frequency > 1 %}<sup>{{ rhyme.frequency }}</sup>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                            {% if sense.examples %}
                                <ul class="examplesHead">
                                {% for example in sense.examples|slice:":3" %}
                                    <li>
                                        <span class="date">{{ example.release_date_string }}</span>
                                        <span class="artist"><a href="{% url 'artist' example.artist_slug %}">{{example.artist_name}}</a></span>
                                        <span class="songTitle">"<a href="{% url 'song' example.song_slug %}">{{example.song_title}}</a>"</span>
                                        {% if example.featured_artists %}
                                            <span> feat. </span>
                                            {% for feat in example.featured_artists %}
                                                <span class="artist"><a href="{% url 'artist' feat.slug %}">{{feat.name}}</a>{% if not forloop.last %}, {% endif %}</span>
                                            {% endfor %}
                                        {% endif %}
                                        <span class="album">[{{ example.album }}]</span>
                                        <div class="lyric">
                                            {{ example.linked_lyric|safe }}
                                            <a class="tweet" href="http://www.therightrhymes.com/{{slug}}" title="{{ example.lyric }}" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>

                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% csrf_token %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>This is not the entry you're looking for.</p>
                {% endif %}
            </article>
        </div>
    </div>
</div>
<div id="entry_slug" style="display: none">{{slug}}</div>
{% endblock %}

{% block scripts %}}
{{ block.super }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "http://www.therightrhymes.com/index/",
      "name": "Dictionary Entries"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "http://www.therightrhymes.com/{{slug}}",
      "name": "{{ headword }}"
    }
  }]
}
</script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "author": "The Right Rhymes",
    "description": "How the word '{{headword}}' is used in rap lyrics",
    "datePublished": "{{ pub_date }}",
    "dateModified": "{{ last_updated }}",
    "headline": "'{{ title }}' in The Right Rhymes",
    "image":{
        "@type": "ImageObject",
        "url": "http://www.therightrhymes.com/static/dictionary/img/header/trr-md.png",
        "caption": "{{ title }}",
        "height": 460,
        "width": 460
    },
    "publisher": {
        "@type": "Organization",
        "name": "The Right Rhymes",
        "url": "http://www.therightrhymes.com",
        "logo": {
            "@type": "ImageObject",
            "url": "http://www.therightrhymes.com/static/dictionary/img/header/trr-logo.png",
            "caption": "The Right Rhymes",
            "height": 60,
            "width": 600
        }
    },
    "about": {
        "@type": "Thing",
        "name": "{{ headword }}",
        "url": "http://www.therightrhymes.com/{{slug}}"
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://www.therightrhymes.com/{{slug}}"
    }
}
</script>
{% endblock %}}